#switch {
  display: none;
}
.buttonLeft_slide,
.buttonRight_slide,
.point1,
.point2,
.point3,
.point4,
.point5,
.point {
  display: none;
}
.main_curriculum {
  margin-top: 20px;
  padding: 0 30px 30px 30px;
}
.content_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.h1_title {
  font-size: 30px;
}
.button_pdf {
  font-weight: 600;
  font-size: 12px;
  width: 31px;
  height: 17px;
  background-color: #7effdb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}
.content_skills {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.h2_title {
  font-size: 20px;
}
.ul_skills {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 5px;
  position: relative;
}
.li_skills {
  padding-left: 20px;
  font-size: 12px;
  position: relative;
}
.li_skills::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 2px;
  left: 0;
  top: 7px;
  background-color: #7effdb;
}
.h3_title {
  font-size: 12px;
  padding-left: 5px;
}
.content_goals {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0 20px 0;
}
.p_goals {
  font-size: 12px;
}
.content_formation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ul_formation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.li_formation {
  font-size: 12px;
  padding-left: 20px;
  position: relative;
}
.li_formation::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 2px;
  left: 0;
  top: 13px;
  background-color: #7effdb;
}
.content_courses {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container_courses {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul_courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}
.ul_courses::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 5px;
  background-color: #7effdb;
}
.li_courses {
  font-size: 12px;
  padding-left: 20px;
  width: 158px;
}
.button_certificate {
  margin-bottom: 5px;
  width: 25px;
  height: 15px;
  border-radius: 50px;
  border: none;
  background: #7effdb;
  color: #0c2c23;
  font-size: 0;
  font-weight: 600;
  position: relative;
}
.button_certificate::after {
  content: "Link";
  font-size: 10px !important;
  position: absolute;
  top: 0;
  left: 3px;
}
.content_experience {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ul_experience {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.li_experience {
  font-size: 12px;
  padding-left: 20px;
  position: relative;
}
.li_experience::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 2px;
  left: 0;
  top: 13px;
  background-color: #7effdb;
}
@media (min-width: 768px) {
  .main_curriculum {
    padding: 0px 100px 80px 100px;
  }
}
@media (min-width: 900px) {
  .main_curriculum {
    display: grid;
    grid-template-columns: 1fr 70px;
    margin-top: 42px;
    padding: 0 100px 80px 100px;
  }
  .content_title {
    grid-column: 1;
    gap: 40px;
    align-items: center;
  }
  .button_pdf {
    font-size: 20px;
    width: 118px;
    height: 40px;
    padding-top: 10px;
  }
  .content_skills {
    grid-column: 1;
  }
  .ul_skills {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 10px;
  }
  .li_skills {
    font-size: 20px;
  }
  .li_skills::before {
    top: 13px;
  }
  .h1_title {
    font-size: 96px;
  }
  .content_goals {
    grid-column: 1;
    margin: 20px 0 20px 0;
  }
  .h2_title {
    font-size: 40px;
  }
  .p_goals {
    margin-top: 10px;
    font-size: 20px;
  }
  .ul_formation {
    margin-top: 10px;
  }
  .li_formation {
    margin-top: 10px;
    font-size: 20px;
  }
  .content_formation {
    grid-column: 1;
  }
  .content_courses {
    grid-column: 1;
  }
  .li_courses {
    font-size: 20px;
    padding-left: 0px;
    width: auto;
    padding-left: 20px;
    position: relative;
  }
  .button_certificate {
    margin-bottom: 5px;
    width: 85px;
    height: 28px;
    border-radius: 50px;
    border: none;
    background: #7effdb;
    color: #0c2c23;
    font-size: 0;
    font-weight: 600;
    position: relative;
    cursor: pointer;
  }
  .button_certificate::after {
    content: "Certificate";
    font-size: 12px !important;
    position: absolute;
    top: 5px;
    left: 10px;
  }
  .content_experience {
    grid-column: 1;
    gap: 20px;
  }
  .li_experience {
    font-size: 20px;
  }
  .h3_title {
    font-size: 20px;
  }
  #switch {
    display: block;
    position: absolute;
    top: 90px;
    right: 265px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
  .switch {
    position: relative;
  }
  @keyframes slidein {
    from {
      transform: translateY(-50%) translateX(0);
    }
    to {
      transform: translateY(-50%) translateX(17px);
    }
  }
  @keyframes slideout {
    from {
      transform: translateY(-50%) translateX(17px);
    }
    to {
      transform: translateY(-50%) translateX(0);
    }
  }
  .buttonSlide.slidein {
    animation: slidein 0.3s forwards;
  }
  .buttonSlide.slideout {
    animation: slideout 0.3s forwards;
  }
  .buttonSlide {
    background: #ff9de2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(0);
    transition: transform 0.3s ease;
  }
  #switch button:hover {
    outline: 8px solid rgba(255, 157, 226, 0.5);
  }
  #switch span {
    display: block;
    width: 67px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
  #switch p {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
  }
}
@media (min-width: 1440px) {
  .main_curriculum {
    padding: 0 270px 78px 270px;
  }
}
/* Slide Mode */
@media (min-width: 768px) {
  .slideMode_section {
    border-radius: 50px;
    background: #7effdb;
    width: 1380px;
    height: 585px;
    display: flex;
    gap: 80px;
    position: relative;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .slideMode_section .h2_title {
    color: #0c2c23;
    padding-top: 80px;
    text-align: center;
    font-size: 48px;
  }
  .slideMode_section .ul_skills {
    margin-left: 230px;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
  .slideMode_section .li_skills {
    color: #0c2c23;
    font-size: 32px;
    font-weight: 500;
    position: relative;
  }
  .slideMode_section .li_skills::before {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    background: #ff9de2;
    top: 20px;
    left: -20px;
  }
  .slideMode_section .p_goals{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: #0c2c23;
  }
  .slideMode_section .ul_formation{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 500;
    font-size: 32px;
    color: #0c2c23;
  }
  .slideMode_section .container_courses{
    padding: 0 160px 100px 160px;
  }
  .slideMode_section .li_formation{
    font-size: 32px;
    font-weight: 500;
  }
  .slideMode_section .container{
    padding: 0;
    overflow-y: auto;
  }
  .slideMode_section .li_courses:last-child{
    padding-bottom: 0;
  }
  .slideMode_section .button_certificate{
    background-color: #ff9de2;
    color: #25051C;
  }
  ::-webkit-scrollbar{
    
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: #25051C;
    border-radius: 50px;
  }
  .slideMode_section .point1,
  .slideMode_section .point2,
  .slideMode_section .point3,
  .slideMode_section .point4,
  .slideMode_section .point5 {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff9de2;
    position: absolute;
    bottom: -60px;
    transition: transform 0.2s ease;
  }
  .points_container {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 5;
  }
  .point1,
  .point2,
  .point3,
  .point4,
  .point5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff9de2;
    transition: transform 0.2s ease;
    cursor: pointer;
    transform: scale(1);
  }
  .point1:hover,
  .point2:hover,
  .point3:hover,
  .point4:hover,
  .point5:hover {
    transform: scale(1.5);
  }
  .point_active {
    transform: scale(1.5);
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade_out {
    animation: fadeOut 0.3s ease forwards;
  }

  .fade_in {
    animation: fadeIn 0.3s ease forwards;
  }
  
}
@media (max-width: 1725px) {
  #switch {
    display: none;
  }
}
