.color_bdec{
  color: #ff9de2;
}
.color_cmain_about{
  color: #25051c;
}
.color_bheader{
  color: #7effdb;
}
.color_cheader{
  color: #0c2c23;
}
.color_bmain{
  color: #b693fe;
}
.color_cmain{
  color: #0c0619;
}