.header {
  height: 30px;
  background: #7EFFDB;
  color: #0C2C23;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px 30px 2px 30px;
}
.avatar {
  display: flex;
  gap: 20px;
  align-items: center;
}
.avatar_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar_name {
  display: none;
}
.menu {
  position: relative;
}
.img_menu {
  cursor: pointer;
}
.links_header {
  display: none;
}
.active_dropdown {
  text-align: center;
  position: absolute;
  font-weight: 700;
  right: -25px;
  top: 29px;
  background: #7EFFDB;
  border-radius: 50px;
  width: 175px;
  height: 236px;
  padding-top: 40px;
  z-index: 1;
}
.active_dropdown li a {
  color: #0C2C23;
}
.main_opacity {
  opacity: .2;
  transition: all .2s ease;
}
.body_opacity {
  background: rgba(182, 147, 254, .2);
  transition: all .2s ease;
}
@media (min-width: 768px) {
  .header {
    padding: 2px 100px 2px 100px;
  }
  .avatar_img:hover {
    transform: scale(1.2);
  }
  .avatar_name {
    display: block;
    font-size: 12px;
    font-weight: 700;
  }
}
@media (min-width: 900px) {
  .header {
    padding: 8px 100px 8px 100px;
  }
  .img_menu {
    display: none;
  }
  .links_header {
    display: block;
    display: flex;
    gap: 20px;
  }
  .link_header a {
    font-size: 12px;
    font-weight: 700;
    color: #0C2C23;
    position: relative;
  }
  .link_header a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #FF9DE2;
    bottom: -2px;
    left: 0;
    transition: .5s;
  }
  .link_header a:hover::before {
    width: 100%;
  }
  .active_page a::before {
    width: 100%;
  }
  .link_header a::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background: #FF9DE2;
    top: -6px;
    right: -12px;
  }
  .link_header:nth-child(5) a::after {
    display: none;
  }
}
@media(min-width: 1000px){
  .link_header a::after {
    right: -10px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 10px 270px 10px 270px;
  }
  .links_header {
    gap: 40px;
  }
  .link_header a::after {
    right: -20px;
  }
}