.main_about{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 0 30px 30px 30px;
}
.img_avatar_about{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.img_bg_text{
  display: none;
}
.text_main_h1{
  font-size: 40px;
  font-weight: 700;
  color: #0C0619;
}
.text_main_h2{
  font-size: 20px;
  font-weight: 700;
  color: #0C0619;
}
.text_main_p{
  font-size: 16px;
  font-weight: 400;
  color: #0C0619;
}
@media (min-width: 768px){
  .main_about{
    padding: 80px 100px 80px 100px;
  } 
  .img_avatar_about{
    width: 360px;
    height: 360px;
  }
  .text_main_about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  .text_main_h1{
    font-size: 80px;
  }
  .text_main_h2{
    font-size: 40px;
  }
  .text_main_p{
    font-size: 20px;
  }
}
@media (min-width: 900px){
  .main_about{
    padding: 80px 100px 80px 100px;
    flex-direction: row;
    align-items: center;
  }
  .main_about{
    padding: 80px 100px 80px 100px;
    gap: 80px;
  }
  .text_main_about{
    width: 300px;
  }
  .text_main_about::before{
    content: '';
    display: block;
    background: #FF9DE2;
    box-shadow: 50px 50px #7EFFDB;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    width: 380px;
    height: 900px;
    top: -40px;
    left: -40px;
  }
}
@media(min-width:910px){
  .text_main_about::before{
    height: 850px;
  }
}
@media(min-width:930px){
  .text_main_about::before{
    height: 800px;
  }
}
@media (min-width: 1000px){
  .text_main_about{
    width: 600px;
  }
  .text_main_about::before{
    width: 500px;
    height: 650px;
  }
}
@media (min-width: 1100px){
  .text_main_about{
    width: 500px;
  }
  .text_main_about::before{
    width: 550px;
    height: 650px;
  }
}
@media (min-width: 1200px){
  .text_main_about{
    width: 500px;
  }
  .text_main_about::before{
    width: 600px;
    height: 650px;
  }
}
@media (min-width: 1300px){
  .text_main_about{
    width: 900px;
  }
  .text_main_about::before{
    width: 700px;
    height: 500px;
    top: -30px;
  }
}
@media (min-width: 1330px){
  .text_main_about{
    width: 900px;
  }
  .text_main_about::before{
    width: 750px;
  }
} 
@media (min-width: 1400px){
  .text_main_about::before{
    width: 850px;
  }
}
@media (min-width: 1440px){
  .main_about{
    padding: 80px 270px 80px 270px;
  } 
  .text_main_about::before{
    width: 650px;
    height: 600px;
  }
}
@media (min-width: 1500px){
  .text_main_about::before{
    width: 800px;
    height: 550px;
    top: -40px;
  }
}
@media (min-width: 1600px){
  .text_main_about::before{
    width: 800px;
    height: 500px;
    top: -30px;
  }
}
@media (min-width: 1700px){
  .text_main_about::before{
    width: 900px;
  }
}
@media (min-width: 1800px){
  .text_main_about{
    width: 800px;
  }
}
@media (min-width: 2000px){
  .text_main_about::before{
    width: 1150px;
  }
  .text_main_about{
    width: 1100px;
  }
}